.bs1 {
    background-color: rgb(61, 117, 35);
}

.bs2 {
    background-color: rgb(107, 20, 20);
}

.bs3 {
    background-color: rgb(117, 95, 52);
}

.bs4 {
    background-color: rgb(88, 58, 44);
}

.bs5 {
    background-color: rgb(45, 160, 89);
}

.bs6{
    background-color: rgb(54, 67, 141);
}

.bs7 {
    background-color: rgb(37, 156, 148);
}

.bs8 {
    background-color: rgb(109, 31, 89);
}

.bs9 {
    background-color: rgb(199, 199, 248);
}

.bs10 {
    background-color: rgb(153, 121, 86);
}

.bs11 {
    background-color: rgb(248, 248, 248);
}

.bs12 {
    background-color: rgb(205, 0, 79);
}

.bs13 {
    background-color: rgb(132, 132, 143);
}

.bs14 {
    background-color: rgb(0, 0, 21);
}

.bs15 {
    background-color: rgb(92, 92, 196);
}

.bs16 {
    background-color: chartreuse;
}